@charset "UTF-8";

main{
    flex: 1;
    padding-top: 80px;
    width: 950px;
    background-color: #F7F7FF;
    margin: auto;
}

main h1{
    text-align: center;
}

main p{
    text-align: justify;
    padding: 5px 70px;
}