@charset "UTF-8";

main{
    flex: 1;
    padding-top: 90px;
    width: 850px;
    background-color: #f7f7fffa;
    margin: auto;
}

main.shadow{
    border: 10px solid;
    border-color: #001e4be0;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.445);
}

main h1{
    text-align: center;
}

main p{
    text-align: justify;
    padding: 5px 70px;
}

.valores_senioridade>h2{
    text-align: left;
    text-indent: 30px;
    margin: 10px 0px;
}

.valores_senioridade>img{
    padding: 0px 15px 0px 50px;
}

.valores_senioridade>ul{
    padding-left: 50px;
}

.valores_senioridade>ul>li{
    padding-bottom: 5px;
}

div.valores_senioridade{
    border: 10px solid;
    border-color: #001e4be0;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.445);
}

main table {
    width: 98%;
    table-layout: fixed;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

main table th, 
main table td {
    padding: 1px;
    text-align: left;
    word-break: break-word;
    width: min-content;
    
}

table{
    border: 2px solid #001e4be0;
    margin: auto;
    font-size: 80em large;
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
}

td, th{
    white-space: normal;
}

td>label{
    font-size: larger;
    font-stretch: expanded;
}

tr>td{
    color: black;
}

button{
    color: black;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.295);
}

button:hover{
    background-color: #D0D0D7
}

button:active{
    background-color: #7B7B7F;
}


.a_link_clicavel {
	color: #00122D;
	text-decoration: underline;
    padding: none;
    white-space: nowrap;
}

.a_link_clicavel:hover {
	color: #005198;
	text-decoration: none;
}

.Bem-vindo{
    background-color: #A3CDE2;
}

.Bem-vindo>p{
    text-align: justify;
    font-size: larger;
    font-weight: 400;
}

#sub_logo{
    color: black;
    font-family: Orbitron, Arial, Helvetica, sans-serif;
    text-align: center;
}

#sub_logo>span{
    color: #0071D3;
    font-family: Orbitron, Arial, Helvetica, sans-serif;
}

.loguinho{
    font-family: Orbitron, Arial, Helvetica, sans-serif;
}

.loguinho>span{
    color: #005198;
    font-family: Orbitron, Arial, Helvetica, sans-serif;
}

.dd{
    text-align: justify;
    padding: 10px 7px 5px 7px;
    border: 1px solid;
}

.dd>h2{
    text-align: center;
}

.h2_mensagem_ERRO{
	color: #c93d3d;
    text-align: center;
}

.h2_mensagem_VALIDACAO{
	color: #5aac3c;
    text-align: center;
}

#h2_mensagem_ERRO{
	color: #c93d3d;
    text-align: center;
}

#h2_mensagem_VALIDACAO{
	color: #5aac3c;
    text-align: center;
}