<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/footer.css">

</head>
<body>
    
    <header>
        <nav>
            <h1 id="Logo">Empresa<span>FODA</span></h1>
            <ul>
                <li><a href="index.html" target="_self">Início</a></li>

                <li><a href="#" target="_self">Sobre</a>
                    <ul class="menu_dropdown">
                        <li><a href="valores_senioridade.html">Valores de Senioridade</a></li>
                        <li><a href="#">link</a></li>
                        <li><a href="#">link</a></li>
                        <li><a href="#">link</a></li>
                    </ul>
                </li>

                <li><a href="#">Área do Dev</a>
                    <ul class="menu_dropdown">
                        <li><a href="#">Cadastrar Dev</a></li>
                        <li><a href="#">link</a></li>
                        <li><a href="#">link</a></li>
                        <li><a href="#">link</a></li>
                    </ul>
                </li>

                <li><a href="#">Linguagens e Frameworks</a>
                    <ul class="menu_dropdown">
                        <li><a href="#">link</a></li>
                        <li><a href="#">link</a></li>
                    </ul>
                </li>

                <li><a href="#">Projetos</a>
                    <ul class="menu_dropdown">
                        <li><a href="#">link</a></li>
                        <li><a href="#">link</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error eos cum odit provident omnis voluptate odio! Laboriosam, officia tempora dignissimos necessitatibus et molestias dolorem vel illo reprehenderit repudiandae accusamus modi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero eius commodi culpa provident maiores. Expedita illum reiciendis mollitia error architecto neque eaque nesciunt molestias atque voluptatibus? Voluptatum possimus nulla debitis.</p>
    </main>

    <footer>
        <p>Desenvolido por <a href="https://github.com/AnGeloMuniZZZ" target="_blank">Angelo</a> & <a href="https://github.com/FabioAS7" target="_blank">Fábio</a></p>
        <p>|</p>
        <p> <a href="#">Política de Privacidade</a></p>
        <p>|</p>
        <p><a href="#">Termos e Condições</a></p>
        <p>|</p>
        <p><a href="#">Sobre este site (MavenSite)</a></p>
    </footer>

</body>
</html>