<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/footer.css">

</head>
<body>
    
    <header>
        <nav>
            <h1 id="Logo">Empresa<span>Segura</span></h1>
            <ul>
                <li><a href="index.html" target="_self">Início</a></li>

                <li><a href="#" target="_self">Sobre</a>
                    <ul class="menu_dropdown">
                        <li><a href="valores_senioridade.html">Valores de Senioridade</a></li>
                        <li><a href="#">link</a></li>
                        <li><a href="#">link</a></li>
                        <li><a href="#">link</a></li>
                    </ul>
                </li>

                <li><a href="#">Área do Dev</a>
                    <ul class="menu_dropdown">
                        <li><a href="#">Cadastrar Dev</a></li>
                        <li><a href="#">link</a></li>
                        <li><a href="#">link</a></li>
                        <li><a href="#">link</a></li>
                    </ul>
                </li>

                <li><a href="#">Linguagens e Frameworks</a>
                    <ul class="menu_dropdown">
                        <li><a href="#">link</a></li>
                        <li><a href="#">link</a></li>
                    </ul>
                </li>

                <li><a href="#">Projetos</a>
                    <ul class="menu_dropdown">
                        <li><a href="#">link</a></li>
                        <li><a href="#">link</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <div>
            <h1>Júnior <img src="../../assets/medalha_bronze_20px.ico" alt=""></h1>
            <h2>Responsabilidades:</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident aut odit eos hic. Vitae voluptas at impedit sit quasi eius veniam dolorem distinctio, velit sed alias explicabo omnis rerum reiciendis.</p>
            <h2>Valor / Hora:</h2>
        </div>
       
        <div>
            <h1>Pleno <img src="../../assets/medalha_prata_20px.ico" alt=""></h1>
            <h2>Responsabilidades:</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid ab labore esse corrupti ratione optio laboriosam, laborum expedita delectus sunt sequi unde magni blanditiis assumenda, magnam aspernatur praesentium, eum aut?</p>
            <h2>Valor / Hora:</h2>
        </div>
       
        <div>
            <h1>Sênior <img src="../../assets/medalha_ouro_20px.ico" alt=""></h1>
            <h2>Responsabilidades:</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero fugiat suscipit quia animi ullam fugit et velit illo quod eveniet, culpa magnam cumque quas quis libero pariatur, inventore aspernatur? Aperiam.</p>
            <h2>Valor / Hora:</h2>
        </div>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic doloribus quae totam ipsum unde repellat numquam consequuntur nisi vel maxime nostrum sapiente in, praesentium saepe animi? Fugiat est blanditiis laborum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt hic corporis alias sint nesciunt? Officiis dolorem dolore eius voluptatem magni libero impedit quidem quibusdam exercitationem, aspernatur sunt inventore sint eligendi!</p>
        <br>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam velit iste necessitatibus, vitae labore, quisquam minus culpa excepturi reprehenderit repudiandae eius dignissimos architecto quia nam ipsam aspernatur doloremque similique tenetur.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam voluptatibus suscipit sunt dolor possimus, eligendi iste nisi fugit, veritatis repellendus omnis eos aut, incidunt eius. Laudantium maxime assumenda tenetur asperiores?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. At unde, debitis porro rem illo expedita fuga eius vel dolor quae, ad fugit nisi. Magni, odit labore autem consequuntur incidunt iusto.
        </p>
        <br>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas placeat, itaque animi maiores sed ea eaque tenetur officia in voluptate praesentium ad dicta error expedita optio? Voluptatem quis repudiandae illo?</p>

                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic doloribus quae totam ipsum unde repellat numquam consequuntur nisi vel maxime nostrum sapiente in, praesentium saepe animi? Fugiat est blanditiis laborum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt hic corporis alias sint nesciunt? Officiis dolorem dolore eius voluptatem magni libero impedit quidem quibusdam exercitationem, aspernatur sunt inventore sint eligendi!</p>
        <br>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam velit iste necessitatibus, vitae labore, quisquam minus culpa excepturi reprehenderit repudiandae eius dignissimos architecto quia nam ipsam aspernatur doloremque similique tenetur.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam voluptatibus suscipit sunt dolor possimus, eligendi iste nisi fugit, veritatis repellendus omnis eos aut, incidunt eius. Laudantium maxime assumenda tenetur asperiores?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. At unde, debitis porro rem illo expedita fuga eius vel dolor quae, ad fugit nisi. Magni, odit labore autem consequuntur incidunt iusto.
        </p>
        <br>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas placeat, itaque animi maiores sed ea eaque tenetur officia in voluptate praesentium ad dicta error expedita optio? Voluptatem quis repudiandae illo?</p>

                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic doloribus quae totam ipsum unde repellat numquam consequuntur nisi vel maxime nostrum sapiente in, praesentium saepe animi? Fugiat est blanditiis laborum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt hic corporis alias sint nesciunt? Officiis dolorem dolore eius voluptatem magni libero impedit quidem quibusdam exercitationem, aspernatur sunt inventore sint eligendi!</p>
        <br>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam velit iste necessitatibus, vitae labore, quisquam minus culpa excepturi reprehenderit repudiandae eius dignissimos architecto quia nam ipsam aspernatur doloremque similique tenetur.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam voluptatibus suscipit sunt dolor possimus, eligendi iste nisi fugit, veritatis repellendus omnis eos aut, incidunt eius. Laudantium maxime assumenda tenetur asperiores?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. At unde, debitis porro rem illo expedita fuga eius vel dolor quae, ad fugit nisi. Magni, odit labore autem consequuntur incidunt iusto.
        </p>
        <br>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas placeat, itaque animi maiores sed ea eaque tenetur officia in voluptate praesentium ad dicta error expedita optio? Voluptatem quis repudiandae illo?</p>

                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic doloribus quae totam ipsum unde repellat numquam consequuntur nisi vel maxime nostrum sapiente in, praesentium saepe animi? Fugiat est blanditiis laborum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt hic corporis alias sint nesciunt? Officiis dolorem dolore eius voluptatem magni libero impedit quidem quibusdam exercitationem, aspernatur sunt inventore sint eligendi!</p>
        <br>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam velit iste necessitatibus, vitae labore, quisquam minus culpa excepturi reprehenderit repudiandae eius dignissimos architecto quia nam ipsam aspernatur doloremque similique tenetur.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam voluptatibus suscipit sunt dolor possimus, eligendi iste nisi fugit, veritatis repellendus omnis eos aut, incidunt eius. Laudantium maxime assumenda tenetur asperiores?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. At unde, debitis porro rem illo expedita fuga eius vel dolor quae, ad fugit nisi. Magni, odit labore autem consequuntur incidunt iusto.
        </p>
        <br>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas placeat, itaque animi maiores sed ea eaque tenetur officia in voluptate praesentium ad dicta error expedita optio? Voluptatem quis repudiandae illo?</p>

                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic doloribus quae totam ipsum unde repellat numquam consequuntur nisi vel maxime nostrum sapiente in, praesentium saepe animi? Fugiat est blanditiis laborum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt hic corporis alias sint nesciunt? Officiis dolorem dolore eius voluptatem magni libero impedit quidem quibusdam exercitationem, aspernatur sunt inventore sint eligendi!</p>
        <br>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam velit iste necessitatibus, vitae labore, quisquam minus culpa excepturi reprehenderit repudiandae eius dignissimos architecto quia nam ipsam aspernatur doloremque similique tenetur.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam voluptatibus suscipit sunt dolor possimus, eligendi iste nisi fugit, veritatis repellendus omnis eos aut, incidunt eius. Laudantium maxime assumenda tenetur asperiores?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. At unde, debitis porro rem illo expedita fuga eius vel dolor quae, ad fugit nisi. Magni, odit labore autem consequuntur incidunt iusto.
        </p>
        <br>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas placeat, itaque animi maiores sed ea eaque tenetur officia in voluptate praesentium ad dicta error expedita optio? Voluptatem quis repudiandae illo?</p>

    </main>

    <footer>
        <p>Desenvolido por <a href="https://github.com/AnGeloMuniZZZ" target="_blank">Angelo</a> & <a href="https://github.com/FabioAS7" target="_blank">Fábio</a></p>
        <p>|</p>
        <p> <a href="#">Política de Privacidade</a></p>
        <p>|</p>
        <p><a href="#">Termos e Condições</a></p>
        <p>|</p>
        <p><a href="#">Sobre este site (MavenSite)</a></p>
    </footer>

</body>
</html>